@font-face {
    font-family: "THICCCBOI";
    src: url("../font/THICCCBOI-Black.ttf");
}

@font-face {
    font-family: "THICCCBOI";
    src: url("../font/THICCCBOI-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "THICCCBOI";
    src: url("../font/THICCCBOI-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "THICCCBOI";
    src: url("../font/THICCCBOI-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "THICCCBOI";
    src: url("../font/THICCCBOI-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "THICCCBOI";
    src: url("../font/THICCCBOI-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "THICCCBOI";
    src: url("../font/THICCCBOI-SemiBold.ttf");
    font-weight: 600;
}

* {
    font-family: "THICCCBOI", sans-serif;
}

.box-1 {
    background: linear-gradient(259.08deg, #50EDFF -5.05%, #48B8DA 63.97%, #3B5998 130.42%);
}

.cs-shadow {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
}
/* slider */
.slider .slick-list {
    overflow: unset !important;
  }
  .slider .slick-track {
    display: flex;
    gap: 47px;
  }
  
  .slider .slick-dots li {
    background-color: #d9d9d9;
    border-radius: 100px;
    width: 10px;
    height: 10px;
  }
  .slider .slick-dots .slick-active {
    width: 10px;
    background-color: #3b5998;
    border-radius: 21px;
    height: 10px;
  }
  .slider .slick-dots {
    position: absolute !important;
    display: flex;
    margin-top: 10px;
    bottom: -60px !important;
    justify-content: center;
  }
  .slider .slick-dots li button:before {
    color: transparent !important;
  }
  .slider button.slick-next {
    display: none !important;
  }
  .slider button.slick-prev {
    display: none !important;
  }
/* footer slider */
.slider-footer .slick-track {
    display: flex;
    gap: 47px;
    align-items: center;
  }
  .slider-footer.slick-dotted.slick-slider {
    display: unset !important;
  }
  .slider-footer .slick-dots {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    position: unset;
  }
  